{% extends 'core/base.html' %}
{% load static %}
{% block title %}Vendor Administration - {{ serviceProvider.name }}{% endblock %}

{% block content %}

<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex">
                <div class="account-nav flex-grow-1">
                    <h4 class="account-nav__title">Account Administration</h4>
                   <ul>
                        <li class="account-nav__item account-nav__item--active">
                            <a href="{% url 'vendor_admin' %}">Dashboard</a>
                        </li>
                        <li class="account-nav__item ">
                            <a href="{% url 'edit_profile' serviceProvider.id %}">Edit Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-8 mt-4 mt-lg-0">
                <div class="dashboard">
                    <div class="dashboard__profile card profile-card">
                        <div class="address-card__badge">
                            {% if serviceProvider.review %} 
                              Active 
                            {% else %} 
                             Under-Review
                            {% endif %}   
                        </div>
                        <div class="card-body profile-card__body">
                            <div class="profile-card__avatar">
                                {% if serviceProvider.image %} 
                                     <img src="{{serviceProvider.image.url}}" alt="vendor_logo"> 
                                {% else %} 
                                     <img src="{% static 'templates/images/avatars/avatar-3.jpg' %}" alt="vendor_avatar">
                                {% endif %}
                            </div>
                            <div class="profile-card__name">{{ serviceProvider.name }}</div>
                            <div class="profile-card__email">{{ serviceProvider.email }}</div>
                            <div class="profile-card__number">{{ serviceProvider.phone }}</div>
                        </div>
                        <form class="form" style="margin-left: 20px;margin-bottom: 20px;" method="post" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6"><label for="image">Add profile image:</label></div>
                                <div class="col-sm-10"><input  type="file" class="form-control " id="image" name="image"></div>
                                <div class="col-sm-3"><button type="submit" class="button btn btn-primary mt-4">Upload</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="dashboard__address card address-card address-card--featured">
                        <div class="address-card__badge">Basic Info</div>
                        <div class="address-card__body">
                            <div class="address-card__name">{{ serviceProvider.name }}</div>
                            {% if serviceProvider.account == 'COMPANY' %}
                            <div class="address-card__row">
                                <div class="address-card__row-title">TIN</div>
                                <div class="address-card__row-content">
                                    {% if serviceProvider.tin == '0' %} 
                                     Add your TIN numbers
                                    {% else %} 
                                    {{ serviceProvider.tin }}
                                    {% endif %} 
                                </div>
                            </div>
                            {% endif %}
                            <div class="address-card__row">
                                <div class="address-card__row-title">Status</div>
                                <div class="address-card__row-content">{% if serviceProvider.available %} available {% else %} Unavailable {% endif %}</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Bio</div>
                                <div class="address-card__row-content">
                                    {% if serviceProvider.description == None %} 
                                        Add a small description about about yourself.
                                    {% else %} 
                                       {{serviceProvider.description}}
                                    {% endif %}   
                                </div>
                            </div> 
                                       
                        </div>
                    </div>              
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}