{% extends 'core/base.html' %} 
{% load static %} 
{% block title %} Service - {{service}} {% endblock %} 
{% block content %} 

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            
            <div class="page-header__title">
            </div>
        </div>
    </div>
    <div class="container">
            <div class="shop-layout shop-layout--sidebar--start">
                <div class="shop-layout__sidebar">
                    <div class="block block-sidebar block-sidebar--offcanvas--mobile">
                        <div class="block-sidebar__backdrop"></div>
                        <div class="block-sidebar__body">
                            <div class="block-sidebar__header">
                                <div class="block-sidebar__title">Services</div>
                                <button class="block-sidebar__close" type="button">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="{% static 'templates/images/sprite.svg#cross-20' %}"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="block-sidebar__item">
                                <div class="widget-filters widget widget-filters--offcanvas--mobile" data-collapse data-collapse-opened-class="filter--opened">
                                        <div class="widget-filters__list">
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-layout__content">
                    <div class="block">
                        <div class="products-view">
                            <div class="products-view__options">
                                <div class="view-options view-options--offcanvas--mobile">
                                    <h4>{{ service }}</h4>
                                    <div class="view-options__divider"></div>
                                </div>
                            </div>
                            <div id="message" name="message" class="mt-3"></div>
                            <div class="products-view__list products-list" data-layout="grid-3-sidebar" data-with-features="false" data-mobile-grid-columns="2">
                                <div class="products-list__body">
                                    {% for item in providers %}
                                    <div class="products-list__item">
                                        <div class="product-card">
                                            {% if not item.available %}
                                            <div class="product-card__badges-list">
                                                <div class="product-card__badge product-card__badge--sale">Unavailable</div>
                                            </div>
                                            {% endif %}
                                            <div class="product-card__image product-image">
                                                <a href="{% url 'service_provider' item.id item.service.slug item.slug %}" class="product-image__body">
                                                    <img class="product-image__img" src="{{item.image.url}}" alt="">
                                                </a>
                                            </div>
                                            <div class="product-card__info">
                                                <div class="product-card__name">
                                                    <a href="{% url 'service_provider' item.id item.service.slug item.slug %}" >{{item.name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
    </div>
</div>
{% endblock %}