{% extends 'core/base.html' %}
{% block title %} Shop Cart {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block content %}
    <!-- BREADCRUMB -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function applyCoupon() {
            console.log($("#coupon_code").val());
            $.ajax({
                type: "GET",
                url: "/api/can_use/?coupon_code=" + $("#coupon_code").val(),
                success: function (data) {
                    console.log(data);
                    var discount = parseInt(data.amount);
                    console.log(discount)
                    if (data.amount > 0) {
                        $("#coupon_value").text(discount + " %");
                        str=$("#total_cost").text()
                        var total_cost= str.replace(/,/g, '');
                        var total_cost_with_coupon= total_cost-((discount/100)*total_cost);
                        $("#total_cost_with_coupon").text(total_cost_with_coupon.toFixed(2));
                        // document.myform.coupon_discount.value = discount

                    }
                },
            });
        }

        $('body').on('change', '.changeQty', function() {
            var product_id=$(this).closest('.product_data').find('.prod_id').val();
            var product_qty=$(this).closest('.product_data').find('.input').val();
            var max = parseInt($(this).closest('.product_data').find('.input').attr('max'));
            if (product_qty <= max && product_qty >=0) {
                $.ajax({
                    method:"POST",
                    cache: false,
                    url:"/updateshopcart",
                    data:{
                        'product_id':product_id,
                        'product_qty':product_qty,

                    },
                    success:function(response){
                        // setTimeout('location.reload()')
                        $("#cart_table").load(location.href + " #cart_table");
                    }
                });
            }
        });


    </script>
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                                <svg class="breadcrumb-arrow" width="6px" height="9px">
                                    <use xlink:href="/static/templates/images/sprite.svg#arrow-rounded-right-6x9"></use>
                                </svg>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title">
                    <h1>Shopping Cart</h1>
                </div>
            </div>
        </div>
        <div class="cart block" id="cart_table">
            <div class="container" id="cart_table">
                <table class="cart__table cart-table">
                    <thead class="cart-table__head">
                        <tr class="cart-table__row">
                            <th class="cart-table__column cart-table__column--image">Image</th>
                            <th class="cart-table__column cart-table__column--product">Product</th>
                            <th class="cart-table__column cart-table__column--price">Price</th>
                            <th class="cart-table__column cart-table__column--quantity">Quantity</th>
                            <th class="cart-table__column cart-table__column--total">Total</th>
                            <th class="cart-table__column cart-table__column--remove"></th>
                        </tr>
                    </thead>
                    <tbody class="cart-table__body">
                        {% for rs in shopcart %} 
                        <tr class="cart-table__row">
                            <td class="cart-table__column cart-table__column--image">
                                <div class="product-image">
                                    {% if rs.variant %} 
                                    <a href="" class="product-image__body">
                                        <img class="product-image__img" src="{{rs.variant.image_variant.url }}" alt="">
                                    </a>
                                    {% else %} 
                                    <a href="" class="product-image__body">
                                        <img class="product-image__img" src="{{rs.product.image.url}}" alt="">
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="cart-table__column cart-table__column--product">
                                {% if rs.variant %} 
                                <a href="" class="cart-table__product-name">{{rs.variant.title}}</a>
                                {% if rs.variant.color %} 
                                <ul class="cart-table__options">
                                    <li>Color: {{rs.variant.color}}</li>
                                </ul>
                                {% endif %}
                                {% else %} 
                                <a href="" class="cart-table__product-name">{{rs.product}}</a>
                                {% if rs.product.color %} 
                                <ul class="cart-table__options">
                                    <li>Color: {{rs.product.color}}</li>
                                </ul>
                                {% endif %}
                                {% endif %}
                            </td>
                            <td class="cart-table__column cart-table__column--price" data-title="Price">
                                {% if rs.product.variant == 'None' %}
                                            {{ rs.product.price }}
                                        {% else %}
                                            {{ rs.variant.price }}
                                        {% endif %} FRW
                            </td>
                            <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                                <div class="product_data input-number">
                                    <input type="hidden" class="prod_id" value="{{rs.id}}">
                                    <input class="input changeQty form-control input-number__input" id="quantity" name="quantity"  type="number" min="1" {% if rs.product.is_variant %} max="{{ rs.variant.quantity }}" {% else %} max="{{ rs.product.quantity }}" {% endif %} value="{{rs.quantity}}">
                                    <div class="input-number__add"></div>
                                    <div class="input-number__sub"></div>
                                </div>
                            </td>
                            <td class="total cart-table__column cart-table__column--total" data-title="Total">
                                {% if rs.product.variant == 'None' %}
                                            {% if rs.product.discount > 0 %}
                                                {{ rs.prodct_dicount_amount }}
                                            {% else %}
                                                {{ rs.amount }}
                                            {% endif %}
                                        {% else %}
                                            {% if rs.variant.discount > 0 %}
                                                {{ rs.var_dicount_amount }}
                                            {% else %}
                                                {{ rs.varamount }}
                                            {% endif %}
                                        {% endif %} 
                                        {% if rs.product.is_vat == True %}vat incl.{% endif %}
                            </td>
                            <td class="cart-table__column cart-table__column--remove">
                                <a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Delete ! Are you sure?')" >
                                    <button type="button" class="btn btn-light btn-sm btn-svg-icon">
                                        <svg width="12px" height="12px">
                                            <use xlink:href="/static/templates/images/sprite.svg#cross-12"></use>
                                        </svg>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="cart__actions">
                    <form class="cart__coupon-form">
                        <label for="input-coupon-code" class="sr-only">Password</label>
                        <input type="text" class="form-control"  name="coupon_code" id="coupon_code" placeholder="Coupon Code">
                        <button type="button" class="btn btn-primary  is-success"  onclick="applyCoupon()" >Apply Coupon</button>
                    </form>
                    <div class="cart__buttons">
                        <a href="/" class="btn btn-light">Continue Shopping</a>
                    </div>
                </div>
                <div class="row justify-content-end pt-5">
                    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Cart Totals</h3>
                                <table class="cart__totals">
                                    <thead class="cart__totals-header">
                                        <tr>
                                            <th>Tax</th>
                                            <td>
                                                {{ tax }} FRW
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td>{{ total }} FRW</td>
                                        </tr>
                                    </thead>
                                    <tfoot class="cart__totals-footer">
                                        <tr>
                                            <th>Total</th>
                                            <td>
                                                <span id="total_cost_with_coupon" name="total_cost_with_coupon">{{total}}FRW</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="{% url 'contact_info' %}"">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}