{% extends 'homebase.html' %}
{% block title %} Shop Cart {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block body %}
{% include 'messages.html' %}
    <!-- BREADCRUMB -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function applyCoupon() {
            console.log($("#coupon_code").val());
            $.ajax({
                type: "GET",
                url: "/api/can_use/?coupon_code=" + $("#coupon_code").val(),
                success: function (data) {
                    console.log(data);
                    var discount = parseInt(data.amount);
                    console.log(discount)
                    if (data.amount > 0) {
                        $("#coupon_value").text(discount + " %");
                        str=$("#total_cost").text()
                        var total_cost= str.replace(/,/g, '');
                        var total_cost_with_coupon= total_cost-((discount/100)*total_cost);
                        $("#total_cost_with_coupon").text(total_cost_with_coupon.toFixed(2));
                        // document.myform.coupon_discount.value = discount

                    }
                },
            });
        }

        $('body').on('change', '.changeQty', function() {
            var product_id=$(this).closest('.product_data').find('.prod_id').val();
            var product_qty=$(this).closest('.product_data').find('.input').val();
            var max = parseInt($(this).closest('.product_data').find('.input').attr('max'));
            if (product_qty <= max && product_qty >=0) {
                $.ajax({
                    method:"POST",
                    cache: false,
                    url:"/updateshopcart",
                    data:{
                        'product_id':product_id,
                        'product_qty':product_qty,

                    },
                    success:function(response){
                        // setTimeout('location.reload()')
                        $("#cart_table").load(location.href + " #cart_table");
                    }
                });
            }
        });


    </script>
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Shopcart</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12" id="cart_table">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Shopcart Product List</h3>
                        </div>
                        <table class="shopping-cart-table table" >
                            <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Discount</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>
                                <th class="text-right"></th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for rs in shopcart %}
                                <tr>
                                    <td class="thumb">
                                        {% if rs.variant %}
                                            <img src="{{rs.variant.image_variant.url }}" alt="">
                                        {% else %}
                                            <img src="{{rs.product.image.url}}" alt="">
                                        {% endif %}

                                    </td>
                                    <td class="details">
                                        {% if rs.variant %}
                                          <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{rs.variant.title}}</a>
                                        {% else %}
                                          <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{rs.product}}</a>
                                        {% endif %}
                                    </td>
                                    <td class="price text-center">
                                        <strong>
                                        {% if rs.product.variant == 'None' %}
                                            {{ rs.product.price }}
                                        {% else %}
                                            {{ rs.variant.price }}
                                        {% endif %}
                                    </strong>
                                </td>
                                    <td class="qty text-center"><strong>
                                        {% if rs.product.variant == 'None' %}
                                            {{rs.product.discount}} %
                                        {% else %}
                                            {{rs.variant.discount}} %
                                        {% endif %}
                                    </strong></td>

                                    <td class="qty text-center "><strong>
                                        <div class="product_data qty-input">
                                            <input type="hidden" class="prod_id" value="{{rs.id}}">
                                           <input class="input changeQty" id="quantity" name="quantity" type="number" value="{{rs.quantity}}" min="1" {% if rs.product.is_variant %} max="{{ rs.variant.quantity }}" {% else %} max="{{ rs.product.quantity }}" {% endif %}>
                                           {% if rs.product.variant == 'None' %}
                                           {% if rs.product.unit_type %}
                                             {{ rs.product.unit_type.unit }} (s)
                                            {% endif %}
                                        {% else %}
                                           {% if rs.variant.unit_type %}
                                            {{ rs.variant.unit_type.unit }}(s)
                                            {% endif %}
                                        {% endif %} </strong>
                                        </div>
                                    </td>
                                    <td class="total text-center"><strong class="primary-color">$
                                        {% if rs.product.variant == 'None' %}
                                            {% if rs.product.discount > 0 %}
                                                {{ rs.prodct_dicount_amount }}
                                            {% else %}
                                                {{ rs.amount }}
                                            {% endif %}
                                        {% else %}
                                            {% if rs.variant.discount > 0 %}
                                                {{ rs.var_dicount_amount }}
                                            {% else %}
                                                {{ rs.varamount }}
                                            {% endif %}

                                        {% endif %}
                                        {% if rs.product.is_vat == True %}vat incl.{% endif %}
                                    </strong></td>
                                    <td class="text-right"><a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Delete ! Are you sure?')" class="main-btn icon-btn"><i class="fa fa-close"></i></a></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                            <tfoot>
                                
                            <tr>
                                <td></td>
                                <td><strong>VAT</strong></td>
                                <td></td>
                                <td></td>
                                <td><strong>$
                                    {{ tax }}
                                </strong></td>
                            </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong>TOTAL</strong></td>
                                    <td><strong></strong></td>
                                    <td></td>
                                    <td><strong>Frw <span id="total_cost">{{ total }} </span></strong></td>
                                </tr>
                            <tr>
                                <td></td>
                                <td><strong>Code</strong></td>
                                <td><input type="text" id="coupon_code" name="coupon_code"/></td>
                                <td id="coupon_value" name="coupon_value"></td>
                                <td class="text-center"><input type="button" class="button is-success" value="Apply Coupon" onclick="applyCoupon()" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>Total cost with coupon</strong></td>
                                <td><strong></strong></td>
                                <td></td>
                                <td><strong>Frw
                                    <span id="total_cost_with_coupon" name="total_cost_with_coupon">
                                        {{ total }}
                                    </span>
                                </strong></td>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="pull-right">
                            <a href="{% url 'contact_info' %}" class="primary-btn">Place Order</a>
                        </div>
                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}