{% extends 'core/base.html' %} 
{% load static %}
{% load i18n %}
{% block title %} Items - {{ request.session.username }} {% endblock %}
{% block content %} 
<script>
    $('body').on('change','.upload',function(){
        if (this.files && this.files[0]){
                var len = (this.files).length
                $("#message").text(`${len} Product images selected, You can upload them.`)   
                setTimeout(function () {
                    $("#message").load(location.href + " #message");
                }, 5000);
            }
    })
</script>
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
            </nav>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2 d-flex">
                <div class="account-nav flex-grow-1">
                    {% if request.user.vendor %} 
                    <h4 class="account-nav__title">{% trans 'Vendor Administration' %}</h4>
                    <ul>
                        <li class="account-nav__item">
                            <a href="{% url 'vendor_admin' %}">{% trans 'Dashboard' %}</a>
                        </li>
                        <li class="account-nav__item ">
                            <a href="{% url 'vendor_orders' %}">{% trans 'Order History' %}</a>
                        </li>
                         <li class="account-nav__item">
                            <a href="{% url 'products' %}">{% trans 'Products' %}</a>
                        </li>
                        <li class="account-nav__item account-nav__item--active">
                            <a href="{% url 'items' %}">{% trans 'Renting items' %}</a>
                        </li>
                        <li class="account-nav__item">
                             <a href="{% url 'all_quotation' %}">{% trans 'Quotation Requests' %}</a>
                        </li>
                           <li class="account-nav__item ">
                            <a href="{% url 'working_hours' %}">{% trans 'Working Hours' %}</a>
                        </li>
                        {% if vendor.status == 'RUBY' or vendor.status == 'EMERALD' %} 
                        <li class="account-nav__item ">
                            <a href="{% url 'delivery_cost' %}">{% trans 'Delivery Price' %}</a>
                        </li>
                        {% endif %}
                        <li class="account-nav__item ">
                            <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                        </li>
                    </ul>
                    {% else %} 
                    <h4 class="account-nav__title">{% trans 'Customer Administration' %}</h4>
                    <ul>
                        <li class="account-nav__item ">
                            <a href="{% url 'myaccount' %}">{% trans 'My Account' %}</a>
                        </li>
                        <li class="account-nav__item account-nav__item--active">
                            <a href="{% url 'items' %}">{% trans 'Renting items' %}</a>
                        </li>
                        <li class="account-nav__item ">
                            <a href="{% url 'orderhistory' %}">{% trans 'Order History' %}</a>
                        </li>
                        <li class="account-nav__item ">
                            <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-10 mt-4 mt-lg-0">
                <div class="card">
                    <div class="card-header">
                        <div id="message" name="message" class="mt-3"  style="color: #007bff;font-weight: 1000;">
                        </div>
                        <h5>{% trans 'My Items' %}</h5>
                        <a href="{% url 'add_item' %}" class="button btn btn-primary mt-4">{% trans 'Add Item for Rent' %}</a>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-table">
                        <div class="table-responsive-sm">
                            {% if items %}
                                <table>
                                <thead>
                                    <tr>
                                        <th>{% trans 'Title' %}</th>
                                        <th>{% trans 'Price' %} (Rwf)</th>
                                        <th>{% trans 'Quantity' %}</th>
                                        <th>{% trans 'Available' %}</th>
                                        <th>{% trans 'Status' %}</th>
                                        <th>{% trans 'Add Images' %}</th>
                                        <th>{% trans 'Edit' %}</th>
                                        <th>{% trans 'Delete' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %} 
                                    <tr>
                                        <td><a href="">{{ item.title }}</a></td>
                                        <td>{{ item.price|floatformat:"0" }}</td>
                                        <td>{{item.quantity|floatformat:"0"}}</td>
                                        {% if item.available %}
                                             <td>{% trans 'Yes' %}</td>
                                        {% else %}
                                              <td>{% trans 'No' %}</td>
                                        {% endif %}
                                        {% if item.review %} 
                                        <td>{% trans 'Reviewed' %}</td>
                                        {% else %} 
                                        <td>{% trans 'Under Review' %}</td>
                                        {% endif %}
                                        <td>
                                            <form class="form" method="post" action="{% url 'add_item_image' item.id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <img style="cursor: pointer;width: 30px;" onclick="document.getElementById('item_images').click()" src="https://img.icons8.com/external-tanah-basah-detailed-outline-tanah-basah/48/000000/external-upload-user-interface-tanah-basah-detailed-outline-tanah-basah.png"/>
                                                <input  type="file" class="upload" id="item_images" style="display: none;cursor: pointer;" name="item_images" multiple>
                                                <button type="submit" class="product-card__addtocart btn-primary" style="width: 70px;">{% trans 'Upload' %}</button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="{% url 'edit_item' item.id %}" class="mr-5">{% trans 'Edit' %}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'delete_item' item.id %}">{% trans 'Delete' %}</a>
                                        </td>     
                                    </tr>    
                                    {% endfor %}  
                                </tbody>
                                </table>
                                    {% else %}
                                <table>
                                    <td>{% trans 'No Item yet' %}.</td>
                                </table>
                                {% endif %}
                        </div>
                    </div>
                    <div class="card-divider"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}