{% extends 'core/base.html' %}
{% load static %} 
{% block title %} Rent - {{item.title}} {% endblock %} 
{% block description %} {{ item.description }} {% endblock %}
{% block content %}
<div class="site__body">
    <div class="site__body">
        <!-- BREADCRUMB -->
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- /BREADCRUMB -->
        <!-- section -->
        <div class="block">
            <div class="container">
                <div class="product product--layout--standard" data-layout="standard">
                    <div class="product__content">
                        <!-- .product__gallery -->
                        <div class="product__gallery">
                            <div class="product-gallery">
                                <div class="product-gallery__featured">
                                    <button class="product-gallery__zoom">
                                        <svg width="24px" height="24px">
                                            <use xlink:href="/static/templates/images/sprite.svg#zoom-in-24"></use>
                                        </svg>
                                    </button>
                                    {% if not item.available %}
                                    <div class="product-card__badges-list">
                                        <div class="product-card__badge product-card__badge--sale">Unavailable</div>
                                    </div>
                                    {% endif %}
                                    <div class="owl-carousel" id="product-image">
                                        <div class="product-image product-image--location--gallery">
                                            <a href="" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                                <img class="product-image__img" src="{{ item.image.url }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .product__gallery / end -->
                        <!-- .product__info -->
                        <div class="product__info">
                            <h1 class="product__name">{{item.title}}</h1>
                            <div class="product__description">
                                {{ item.description }}
                            </div>
                            <ul class="product__meta">
                               

                                <li class="product__meta-availability">
                                    Phone Number:<span class="text-success">
                                    <span class="text">{{user.phone}}</span>
                                </span>
                                </li>
                                <li class="product__meta-availability">
                                    {% if item.email %}
                                     Email:<span class="text-success">
                                     <span class="text">{{user.email}}</span>
                                    {% endif %} 
                                </span>
                                </li>
                              
                                {% if user.district %} 
                                <li class="product__meta-availability">
                                    District: <span class="text-success">
                                        <span class="text">{{user.district}}</span>
                                    </span>
                                </li>
                                <li class="product__meta-availability">
                                    Sector: <span class="text-success">
                                        <span class="text">{{user.sector}}</span>
                                    </span>
                                </li>
                                <li class="product__meta-availability">
                                    Cell: <span class="text-success">
                                        <span class="text">{{user.cell}}</span>
                                    </span>
                                </li>
                                <li class="product__meta-availability">
                                    Village: <span class="text-success">
                                        <span class="text">{{user.village}}</span>
                                    </span>
                                </li>
                                {% endif %}
                                  <li class="product__meta-availability">
                                    Address: <span class="text-success">
                                        <span class="text">{{user.address}}</span>
                                    </span>
                                </li>
                            </ul>
                            <div class="product__prices">
                                <span class="product-card__old-price"></span>Rwf {{item.price|floatformat:"0"}}/{{item.unit.unit}}</span>
                           </div>
                        </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %} 

