{% extends 'core/base.html' %}
{% load static %} 
{% load i18n %}
{% block title %} Rent - {{item.title}} {% endblock %} 
{% block description %} {{ item.description }} {% endblock %}
{% block content %}
<div class="site__body">
    <div class="site__body">
        <!-- BREADCRUMB -->
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- /BREADCRUMB -->
        <!-- section -->
        <div class="block">
            <div class="container">
                <div class="product product--layout--standard" data-layout="standard">
                    <div class="product__content">
                        <!-- .product__gallery -->
                        <div class="product__gallery">
                            <div class="product-gallery">
                                <div class="product-gallery__featured">
                                    <button class="product-gallery__zoom">
                                        <svg width="24px" height="24px">
                                            <use xlink:href="/static/templates/images/sprite.svg#zoom-in-24"></use>
                                        </svg>
                                    </button>
                                    {% if not item.available %}
                                    <div class="product-card__badges-list">
                                        <div class="product-card__badge product-card__badge--sale">{% trans 'Unavailable' %}</div>
                                    </div>
                                    {% endif %}
                                    <div class="owl-carousel" id="product-image">
                                        <div class="product-image product-image--location--gallery">
                                            <a href="{{ item.image.url }}" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                                <img class="product-image__img" src="{{ item.image.url }}" alt="">
                                            </a>
                                        </div>
                                        {% for images in item.items_images.all %} 
                                           <div class="product-image product-image--location--gallery">
                                            <!--
                            The data-width and data-height attributes must contain the size of a larger version
                            of the product image.
    
                            If you do not know the image size, you can remove the data-width and data-height
                            attribute, in which case the width and height will be obtained from the naturalWidth
                            and naturalHeight property of img.product-image__img.
                            -->
                                            {% if images.image %} 
                                            <a href="{{images.image.url}}" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                                <img class="product-image__img" src="{{images.image.url}}" alt="">
                                            </a>
                                            {% endif %}
                                               </div>
                                           {% endfor %}
                                    </div>
                                </div>
                                <div class="product-gallery__carousel">
                                    <div class="owl-carousel" id="product-carousel">
                                        <a href="{{item.image.url}}" class="product-image product-gallery__carousel-item">
                                            <div class="product-image__body">
                                                <img class="product-image__img product-gallery__carousel-image" src="{{item.image.url}}" alt="">
                                            </div>
                                        </a>
                                                  {% for images in item.items_images.all %} 
                                                    {% if images.image %} 
                                                        <a href="{{images.image.url}}" class="product-image product-gallery__carousel-item">
                                                            <div class="product-image__body">
                                                                <img class="product-image__img product-gallery__carousel-image" src="{{images.image.url}}" alt="">
                                                            </div>
                                                        </a>
                                                    {% endif %} 
                                                  {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .product__gallery / end -->
                        <!-- .product__info -->
                        <div class="product__info">
                            <h1 class="product__name">{{item.title}}</h1>
                            <div class="product__description">
                                {{ item.description }}
                            </div>
                            <ul class="product__meta">
                               

                                <li class="product__meta-availability">
                                    {% trans 'Phone Number' %}:<span class="text-success">
                                    <span class="text">{{user.phone}}</span>
                                </span>
                                </li>
                                <li class="product__meta-availability">
                                    {% if item.email %}
                                    {% trans 'Email' %}:<span class="text-success">
                                     <span class="text">{{user.email}}</span>
                                    {% endif %} 
                                </span>
                                </li>
                              
                                {% if user.district %} 
                                <li class="product__meta-availability">
                                    {% trans 'District' %}: <span class="text-success">
                                        <span class="text">{{user.district}}</span>
                                    </span>
                                </li>
                                <li class="product__meta-availability">
                                    {% trans 'Sector' %}: <span class="text-success">
                                        <span class="text">{{user.sector}}</span>
                                    </span>
                                </li>
                                <li class="product__meta-availability">
                                    {% trans 'Cell' %}: <span class="text-success">
                                        <span class="text">{{user.cell}}</span>
                                    </span>
                                </li>
                                <li class="product__meta-availability">
                                    {% trans 'Village' %}: <span class="text-success">
                                        <span class="text">{{user.village}}</span>
                                    </span>
                                </li>
                                {% endif %}
                                  <li class="product__meta-availability">
                                    {% trans 'Address' %}: <span class="text-success">
                                        <span class="text">{{user.address}}</span>
                                    </span>
                                </li>
                            </ul>
                            <div class="product__prices">
                                <span class="product-card__old-price"></span>Rwf {{item.price|floatformat:"0"}}/{{item.unit.unit}}</span>
                           </div>
                        </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %} 

