{% extends 'base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}

    <section class="hero is-small is-dark">
        <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title">
                        {{ category.title }}
                    </p>

            </div>
        </div>
    </section>

    <br>

    {% include 'product/product_search.html' %}

    <div class="columns is-multiline">
<!--        {% for subcategory in category.subcategory.all %}-->
<!--            {% for subsubcategory in subcategory.subsubcategory.all %}-->
                {% for product in subsubcategory.products.all %}
                    {% if product.vendor.enabled and product.visible %}
                        {% include 'list_item.html' %}
                    {% endif %}
                {% endfor %}
<!--            {% endfor %}-->
<!--        {% endfor %}-->
    </div>
{% endblock %}
