{% load static %}
<header>

    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="/#">
                        <img src="{% static '' %}img/soko.png" alt="">
                    </a>
                </div>
            </div>
            <div class="pull-right" >
                <ul class="header-btns">

                    <!-- Cart -->
                    <li class="header-cart dropdown default-dropdown">
                        <a href="/#">
                            <div class="header-btns-icon">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="qty">{{ count }}</span>
                            </div>
                            <strong class="text-uppercase">My Cart</strong>
                            <br>

                        </a>

                    </li>
                    <!-- /Cart -->

                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER -->