/**
* body
*/

html {
    height: 100%;

}

body {

    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/**
* Nav
*/


.navbar .is-dark {
    background: #444;
}

/**
* Footer
*/

.footer {
padding: 50px 20px;
background: #444;
margin-top:auto;
}

.footer h3 {
    color: rgb(255, 255, 255);
}

.footer h1 {
    color: rgb(255, 255, 255);
}

.footer a {
    margin-bottom: 15px;
    display: inline-block;
    color: rgb(255, 255, 255);
}

.footer p {
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}

/**
* Bulma overrides
*/


/**
 * Product list item
 */

.product-list-item .box .subtitle {
    margin-bottom: 0;
}

.product-list-item .box .price {
    color: #888;
}

/**
* Notification toast
*/

@keyframes show-toast {
    0%   {bottom: -100%;}
    20%  {bottom: 50px;}
    80%  {bottom: 50px;}
    100% {bottom: -100%;}
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 4s;
}


/**
* Newsletter
*/

.newsletter-wrapper {
    padding: 50px 20px;
    text-align: center;
    background: #f1f1f1;
}

    .newsletter-wrapper .notification {
        margin-top: 20px;
    }

    .newsletter-wrapper .field.has-addons {
        justify-content: center;
    }