{% extends 'core/base.html' %}
{% load static %}

{% block title %}About us{% endblock  %}

{% block content %}

<div class="site__body">
    <div class="block about-us">
        <div class="about-us__image" style="background-image: url('{% static 'templates/images/black_wall-01.png' %}');"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <div class="about-us__body">
                        <h1 class="about-us__title">About Sokopark</h1>
                        <div class="about-us__text typography">
                            <p>
                                Sokopark is a multi-vendor marketplace that provides a wide range of building materials, home improvement items, 
                                commercial fitout articles, and other various products. We strive to be the platform that provides all needs of home owners, 
                                handy people, construction professionals and contractors. We assist our clients in meeting their projects requirements at all stages; from construction, 
                                maintenance and decoration to remodelling, fitout and reparation.
                            </p>
                            <p>
                                With emphasis on reliability and respect of high quality, we continue to nurture solid and strategic relationships with a network of 
                                exclusively-selected manufacturers and vendors in an effort to provide optimal solutions to fit the specific demands of our clients.
                            </p>
                        </div>
                        <div class="about-us__team">
                            <h2 class="about-us__team-title">Our Operations</h2>
                            <div class="about-us__teammates teammates">
                                <div class="owl-carousel">
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                             <img src="https://sokopark.s3.af-south-1.amazonaws.com/static/templates/images/order_management.webp" alt="">
                                        </div>
                                        <div class="teammate__name">Order management & fulfilment</div>
                                    </div>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">   
                                             <img src="https://sokopark.s3.af-south-1.amazonaws.com/static/templates/images/delivery.webp" alt="">
                                        </div>
                                        <div class="teammate__name">Delivery</div>
                                    </div>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                             <img src="https://sokopark.s3.af-south-1.amazonaws.com/static/templates/images/service.webp" alt="">
                                        </div>
                                        <div class="teammate__name">Customer service</div>
                                    </div>
                                     <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                             <img src="https://sokopark.s3.af-south-1.amazonaws.com/static/templates/images/advisory.webp" alt="">
                                        </div>
                                        <div class="teammate__name">Advisory</div>
                                    </div>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="https://sokopark.s3.af-south-1.amazonaws.com/static/templates/images/advertising.webp" alt="">
                                        </div>
                                        <div class="teammate__name">Advertising & Promotion</div>
                                    </div>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                             <img src="https://sokopark.s3.af-south-1.amazonaws.com/static/templates/images/storage.webp" alt="">
                                        </div>
                                        <div class="teammate__name">Storage (available soon)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="about-us__text typography">
                            <p> <strong> Vision | </strong> Efficient African Trade</p>
                            <p> <strong> Mission | </strong> Setting a New Standard in Service Delivery</p>
                            <p> <strong> Values | </strong> Accountability - Customer Engagement - Integrity - Service Excellence  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}