{% extends 'core/base.html' %}

{% block title %}About {% endblock  %}

{% block content %}

    <h1 class = 'title'>About Sokopark</h1>

    <p> Sokopark is a multi-vendor marketplace that provides a wide range of building materials, home improvement items, 
    commercial fitout articles, and other various products. We strive to be the platform that provides all needs of home owners, 
    handy people, construction professionals and contractors. We also assist our clients in meeting their projects requirements from construction, 
    maintenance and decoration to remodelling, fitout and reparation. </p>

    <p>With emphasis on reliability and respect of high quality, we continue to nurture solid and strategic relationships with a network of 
    exclusively-selected manufacturers and vendors in an effort to provide optimal solutions to fit the specific demands of our clients.</p>

    <p>Our operations include:</p>

    <li>Order management & fulfilment</li>
    <li>Shipping & delivery</li>
    <li>Customer service</li>
    <li>Advisory</li>
    <li>Advertising & promotion</li>
    <li>Storage(available soon - warehouse under construction)</li>

    <br>

    <p> <strong> Vision | </strong>Efficient African Trade</p>

    <p> <strong> Mission | </strong> Setting a New Standard in Service Delivery</p>

    <p> <strong> Values | </strong> Accountability - Customer Engagement - Integrity - Service Excellence  </p>

{% endblock  %}