{% load static %}
<!-- .block-slideshow -->
<div class="block-slideshow block-slideshow--layout--full block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block-slideshow__body">
                    <div class="owl-carousel">
                        <a class="block-slideshow__slide" href="{% url 'become_vendor' %}">
                            <div class="block-slideshow__slide-image block-slideshow__slide" style="background-image: url('{% static 'templates/images/caroussel_vendor.png' %}')"></div>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{% static 'templates/images/Untitled-4-01.png' %}')"></div>
                           
                        </a>
                        <a class="block-slideshow__slide" href="{% url 'become_customer' %}">
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{% static 'templates/images/caroussel_customer.png' %}')"></div>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{% static 'templates/images/Untitled-4-01.png' %}')"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-slideshow / end -->
  <!-- .block-features -->
  <div class="block block-features block-features--layout--classic">
    <div class="container">
      <div class="block-features__list">
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-free-delivery-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">Free Shipping</div>
            <div class="block-features__subtitle">
              On various products
            </div>
          </div>
        </div>
        <div class="block-features__divider"></div>
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-24-hours-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">Support 24/7</div>
            <div class="block-features__subtitle">Call us anytime</div>
          </div>
        </div>
        <div class="block-features__divider"></div>
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-payment-security-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">100% Safety</div>
            <div class="block-features__subtitle">
              Only secure payments
            </div>
          </div>
        </div>
        <div class="block-features__divider"></div>
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-tag-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">Hot Offers</div>
            <div class="block-features__subtitle">
              Discounts all year long
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .block-features / end -->
  <!-- .block-products-carousel -->