{% load static %}
<!-- .block-slideshow -->
<div class="block-slideshow block-slideshow--layout--full block">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <div class="block-slideshow__body">
                <div class="owl-carousel">
                  <a class="block-slideshow__slide" href="">
                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{% static 'templates/images/slides/slide-1-full.jpg' %}')"></div>
                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{% static 'templates/images/slides/slide-1-mobile.jpg' %}')"></div>
                    <div class="block-slideshow__slide-content">
                        <div class="block-slideshow__slide-title">Big choice of<br>Plumbing products</div>
                        <div class="block-slideshow__slide-text"> 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis molestie.</div>
                        <div class="block-slideshow__slide-button">
                            <span class="btn btn-primary btn-lg">Shop Now</span>
                        </div>
                    </div>
                  </a>
                <a class="block-slideshow__slide" href="">
                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{% static 'templates/images/slides/slide-2-full.jpg' %}')"></div>
                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{% static 'templates/images/slides/slide-2-mobile.jpg' %}')"></div>
                    <div class="block-slideshow__slide-content">
                        <div class="block-slideshow__slide-title">Screwdrivers<br>Professional Tools</div>
                        <div class="block-slideshow__slide-text"> 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis molestie.</div>
                        <div class="block-slideshow__slide-button">
                            <span class="btn btn-primary btn-lg">Shop Now</span>
                        </div>
                    </div>
                </a>
                <a class="block-slideshow__slide" href="">
                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{% static 'templates/images/slides/slide-3-full.jpg' %}')"></div>
                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{% static 'templates/images/slides/slide-3-mobile.jpg' %}')"></div>
                    <div class="block-slideshow__slide-content">
                        <div class="block-slideshow__slide-title">3 One more<br>Unique header</div>
                        <div class="block-slideshow__slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis molestie.</div>
                        <div class="block-slideshow__slide-button">
                            <span class="btn btn-primary btn-lg">Shop Now</span>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
  <!-- .block-slideshow / end -->
  <!-- .block-features -->
  <div class="block block-features block-features--layout--classic">
    <div class="container">
      <div class="block-features__list">
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-free-delivery-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">Free Shipping</div>
            <div class="block-features__subtitle">
              On various products
            </div>
          </div>
        </div>
        <div class="block-features__divider"></div>
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-24-hours-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">Support 24/7</div>
            <div class="block-features__subtitle">Call us anytime</div>
          </div>
        </div>
        <div class="block-features__divider"></div>
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-payment-security-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">100% Safety</div>
            <div class="block-features__subtitle">
              Only secure payments
            </div>
          </div>
        </div>
        <div class="block-features__divider"></div>
        <div class="block-features__item">
          <div class="block-features__icon">
            <img
              width="48px"
              height="48px"
              src="{% static 'templates/images/fi-tag-48.svg' %}"
            />
          </div>
          <div class="block-features__content">
            <div class="block-features__title">Hot Offers</div>
            <div class="block-features__subtitle">
              Discounts all year long
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .block-features / end -->
  <!-- .block-products-carousel -->