{% extends 'core/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<body>
      <div class="site__body">
             <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                    </div>
                   
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="card mb-0 contact-us">
                        <div class="contact-us__map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.5752119214276!2d30.09621621475465!3d-1.9213502985992061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x21996a1e2fcc3fd5!2sSokopark!5e0!3m2!1sen!2srw!4v1645715863779!5m2!1sen!2srw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="card-body">
                            <div class="contact-us__container">
                                <div class="row">
                                    <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                                        <h4 class="contact-us__header card-title">Our Address</h4>
                                        <div class="contact-us__address">
                                            <p>
                                                Kg 490 street #5<br>
                                                Gacuriro <br>
                                                P.O. Box: 1337<br>
                                                Kigali, Rwanda<br>
                                                Email: <a href="mailto: info@sokopark.com">info@sokopark.com</a><br>
                                                Phone Number: <a href="tel:+250790008795" >+250 790 008 795</a>
                                            </p>

                                            <h4 class="contact-us__header card-title">Opening Hours</h4>
                                            <p>
                                              
                                                Monday to Friday: 9am-6pm<br>
                                                Saturday: 9am-1pm<br>
                                                Sunday: Closed
                                            </p>
                                            
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <h4 class="contact-us__header card-title">Leave us a Message</h4>
                                        <form action="" method="POST" class="contact-form">
                                          {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="form-name">Your Name</label>
                                                    <input type="text" id="form-name" class="form-control"  name="full-name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="form-email">Email</label>
                                                    <input type="email" id="form-email" class="form-control"  name="email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="form-subject">Subject</label>
                                                <input type="text" id="form-subject" class="form-control"  name="subject">
                                            </div>
                                            <div class="form-group">
                                                <label for="form-message">Message</label>
                                                <textarea id="form-message" class="form-control" rows="3"textarea name="message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary" value="Send Message">Send Message</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
{% endblock %}