{% extends 'core/base.html' %}

{% block title %}Contact | {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Contact</title>
</head>

<body>
      <div class="site__body">
             <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                    </div>
                   
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="card mb-0 contact-us">
                        <div class="contact-us__map">
                            <iframe src="https://maps.google.com/maps?q=kg%20490%20street&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>
                        </div>
                        <div class="card-body">
                            <div class="contact-us__container">
                                <div class="row">
                                    <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                                        <h4 class="contact-us__header card-title">Our Address</h4>
                                        <div class="contact-us__address">
                                            <p>
                                                Kg 490 street #5, Gacuriro | Kigali, Rwanda<br>
                                                Email: info@sokopark.com<br>
                                                Phone Number: +250 789 613 257
                                            </p>
                                            <p>
                                                <strong>Opening Hours</strong><br>
                                                Monday to Friday: 8am-6pm<br>
                                                Saturday: 8am-1pm<br>
                                                Sunday: Closed
                                            </p>
                                            <p>
                                                <strong>Comment</strong><br>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur suscipit suscipit mi, non
                                                tempor nulla finibus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <h4 class="contact-us__header card-title">Leave us a Message</h4>
                                        <form action="" method="POST" class="contact-form">
                                          {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="form-name">Your Name</label>
                                                    <input type="text" id="form-name" class="form-control" placeholder="Your Name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="form-email">Email</label>
                                                    <input type="email" id="form-email" class="form-control" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="form-subject">Subject</label>
                                                <input type="text" id="form-subject" class="form-control" placeholder="Subject">
                                            </div>
                                            <div class="form-group">
                                                <label for="form-message">Message</label>
                                                <textarea id="form-message" class="form-control" rows="4"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary" value="Send Message">Send Message</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>
{% endblock %}