{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}Frequently Asked Questions{% endblock  %}

{% block content %}
 <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                    </div>
                    <div class="page-header__title">
                        <h3>{% trans 'Frequently Asked Questions' %}</h3>
                    </div>
                </div>
            </div>

            <div class="block faq"> 
                <div class="container">
                    <div class="faq__section">
                        <div class="faq__section-title">
                            <h3>{% trans 'Delivery Information' %}</h3>
                        </div>
                        <div class="faq__section-body">
                            <div class="row">
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>{% trans 'What delivery types are available?' %}</h5>
                                        <p>
                                            {% trans 'There are 3 types of delivery on sokopark.com: basic delivery ( 5 to 24 hours), express (1 to 5 hours) and vendor delivery (depends on the vendor).' %}'
                                        </p>
                                        <h5>{% trans 'What products does Sokopark deliver?' %}</h5>
                                        <p>
                                            {% trans 'Sokopark delivers furniture, building materials, lighting fixtures, paint, home appliances, decor items, tools, plants, fertilizers, roofing sheets, etc...' %}' 
                                        </p>
                                    </div>
                                </div>
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>{% trans 'Where does Sokopark deliver?' %}</h5>
                                        <p>
                                            {% trans 'Sokopark currently delivers only in Kigali. Out of town deliveries will start within the next 6 months.' %}'
                                        </p>
                                        <h5>{% trans 'Can orders be picked up in stores?' %}</h5>
                                        <p>
                                            {% trans 'Yes. Orders from certain vendors can be picked up in stores.' %}'
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__section">
                        <div class="faq__section-title">
                            <h3>{% trans 'Payment Information' %}</h3>
                        </div>
                        <div class="faq__section-body">
                            <div class="row">
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>{% trans 'What payment methods are available?' %}</h5>
                                        <p>
                                            {% trans 'We currently only accept mobile money payments (MTN and Airtel) and bank transfers. We are still working to add visa and mastercard as payment options.' %}'
                                        </p>
                                    </div>
                                </div>
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>{% trans 'How long does payments to the vendor take?' %}</h5>
                                        <p>
                                            {% trans 'Payments to vendors are processed every day. The payment timeline cannot exceed 24 hours.' %}'
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

{% endblock  %}