{% extends 'core/base.html' %}

{% block title %}Frequently Asked Questions | {% endblock  %}

{% block content %}
 <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                          
                        </nav>
                    </div>
                    <div class="page-header__title">
                        <h3>Frequently Asked Questions</h3>
                    </div>
                </div>
            </div>

            <div class="block faq"> 
                <div class="container">
                    <div class="faq__section">
                        <div class="faq__section-title">
                            <h3>Shipping Information</h3>
                        </div>
                        <div class="faq__section-body">
                            <div class="row">
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>What shipping methods are available?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                        <h5>Do you ship internationally?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                    </div>
                                </div>
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>What shipping methods are available?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                        <h5>Do you ship internationally?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__section">
                        <div class="faq__section-title">
                            <h3>Payment Information</h3>
                        </div>
                        <div class="faq__section-body">
                            <div class="row">
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>What shipping methods are available?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                    </div>
                                </div>
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>What shipping methods are available?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__section">
                        <div class="faq__section-title">
                            <h3>Orders and Returns</h3>
                        </div>
                        <div class="faq__section-body">
                            <div class="row">
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>What shipping methods are available?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                    </div>
                                </div>
                                <div class="faq__section-column col-12 col-lg-6">
                                    <div class="typography">
                                        <h5>What shipping methods are available?</h5>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock  %}