{% extends 'core/base.html' %}

{% block title %}Pricing | {% endblock  %}

{% block content %}

        <div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                            
                        </nav>
                    </div>
                    <div class="page-header__title">
                        <h1>Pricing</h1>
                    </div>
                </div>
            </div>
             <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block">
                            <div class="products-view">
                                <div class="products-view__list products-list" data-layout="grid-4-full" data-with-features="false" data-mobile-grid-columns="2">
                                    <div class="products-list__body">
                                        <div class="products-list__item">
                                            <div class="product-card  ">
                                                <div class="address-card__body">
                                                    <div class="address-card__name">Diamond</div>

                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Product Limit</div>
                                                        <div class="address-card__row-content">5 products</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Features</div>
                                                        <div class="address-card__row-content">Vendor Dashboard</div>
                                                        <div class="address-card__row-content">Email Notifications</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Account fees</div>
                                                        <div class="address-card__row-content">FREE</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Transaction fees</div>
                                                        <div class="address-card__row-content">1% - 4% per transaction</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        

                                          <div class="products-list__item">
                                            <div class="product-card  ">
                                                <div class="address-card__body">
                                                    <div class="address-card__name">Sapphire</div>

                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Product Limit</div>
                                                        <div class="address-card__row-content">20 products</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Features</div>
                                                        <div class="address-card__row-content">Vendor Dashboard</div>
                                                        <div class="address-card__row-content">Email Notifications</div>
                                                         <div class="address-card__row-content">Social media promotion (1x)</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Account fees</div>
                                                        <div class="address-card__row-content">Frw 7,500 per month</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Transaction fees</div>
                                                        <div class="address-card__row-content">1% - 4% per transaction</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 

                                          <div class="products-list__item">
                                            <div class="product-card  ">
                                               <div class="address-card__body">
                                                    <div class="address-card__name">Emerald</div>

                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Product Limit</div>
                                                        <div class="address-card__row-content">50 products</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Features</div>
                                                        <div class="address-card__row-content">Vendor Dashboard</div>
                                                        <div class="address-card__row-content">Email Notifications</div>
                                                        <div class="address-card__row-content">Pick up in store allowed</div>
                                                        <div class="address-card__row-content">Social media promotion (1x)</div>
                                                        <div class="address-card__row-content">Manage your delivery</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Account fees</div>
                                                        <div class="address-card__row-content">Frw 15,000 per month</div>
                                                    </div>
                                                    <div class="address-card__row">
                                                        <div class="address-card__row-title">Transaction fees</div>
                                                        <div class="address-card__row-content">1% - 4% per transaction</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="products-list__item">
                                            <div class="product-card ">
                                                <div class="address-card__body">
                                                    <div class="address-card__name">Ruby</div>

                                                     <div class="address-card__row">
                                            <div class="address-card__row-title">Product Limit</div>
                                            <div class="address-card__row-content">TBD</div>
                                        </div>
                                        <div class="address-card__row">
                                            <div class="address-card__row-title">Features</div>
                                            <div class="address-card__row-content">Vendor Dashboard</div>
                                            <div class="address-card__row-content">Email Notifications</div>
                                            <div class="address-card__row-content">Pick up in store allowed</div>
                                            <div class="address-card__row-content">Social media promotion (4x)</div>
                                            <div class="address-card__row-content">2 free featured products</div>
                                            <div class="address-card__row-content">Manage your delivery</div>
                                            <div class="address-card__row-content">Customization</div>
                                        </div>
                                        <div class="address-card__row">
                                            <div class="address-card__row-title">Account fees</div>
                                            <div class="address-card__row-content">Negociable</div>
                                        </div>
                                        <div class="address-card__row">
                                            <div class="address-card__row-title">Transaction fees</div>
                                            <div class="address-card__row-content">1% - 4% per transaction</div>
                                        </div>
                                                </div>
                                            </div>
                                        </div> 
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
{% endblock  %}