{% load i18n %}
<div class="site-footer__widget footer-newsletter">
    <form v-on:submit.prevent="onSubmit" class="footer-newsletter__form">

        <input type="email" v-model="email" class="input form-control" id="footer-newsletter-address" placeholder="Email Address">
        <button class="footer-newsletter__form-button btn btn-secondary">{% trans 'Subscribe' %}</button>
         
    </form>

     <div class="footer-newsletter__text footer-newsletter__text--social" >
        {% trans 'Contact us on social media.' %}
    </div>

      <div class="social-links footer-newsletter__social-links social-links--shape--circle" >
        <ul class="social-links__list">
        <li class="social-links__item">
            <a
            class="social-links__link social-links__link--type--twitter"
            href="https://twitter.com/sokopark_rwanda"
            target="_blank"
            >
            <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="social-links__item">
            <a
            class="social-links__link social-links__link--type--facebook"
            href="https://web.facebook.com/sokoparkrwanda"
            target="_blank"
            >
            <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li class="social-links__item">
            <a
            class="social-links__link social-links__link--type--linkedin"
            href="https://www.linkedin.com/company/sokopark-com/"
            target="_blank"
            >
           <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <!--<li class="social-links__item">
            <a
            class="social-links__link social-links__link--type--instagram"
            href="https://instagram.com/sokopark_rwanda/"
            target="_blank"
            >
            <i class="fab fa-instagram"></i>
            </a>
        </li>-->
        </ul>
    </div>

    <div class="notification is-dark" v-if="showSuccess">
        Your e-mail address has been added to the subscribers' list.
    </div>
</div>
<script>
    var newsletterapp = new Vue({
        el: '#newsletter-wrapper',
        data () {
            return {
                email: '',
                showSuccess: false
            }
        },
        methods: {
            onSubmit() {
                console.log('onSubmit')

                fetch('/api/add_subscriber/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({'email': this.email})
                    })
                    .then((response) => {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(data)

                        this.showSuccess = true
                        this.email = ''
                    })
                    .catch(function(error) {
                        this.showSuccess = false
                        console.log('Error:', error);
                    });
            }
        }
    })
</script>