{% extends 'core/base.html' %}

{% block title %}Sitemap {% endblock %}

{% block content %}

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    
                </nav>
            </div>
            <div class="page-header__title">
                <h3>Sitemap</h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block">
                    <div class="products-view">
                        <div class="products-view__list products-list" data-layout="grid-4-full" data-with-features="false" data-mobile-grid-columns="2">
                            
                            <h5>Account</h5>
                             <div>
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'login' %}">Login</a></div> 
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'become_customer'  %}">Sign up as a customer</a></div> 
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'become_vendor' %}">Sign up as a vendor</a></div> 
                            </div><br>
                
                            <h5>Information</h5>
                            <div> 
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'contact' %}">Contact</a></div>
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'about' %}">About</a></div>
                                <div class="address-card__row-content"><a class="address-card__row-content" class="address-card__row-content"a href="{% url 'pricing' %}">Pricing</a></div>
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'termsandconditions' %}">Terms and Conditions</a></div>
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'privacy_policy' %}">Privacy Policy</a></div>
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'frequently_asked_questions' %}">FAQ</a></div>
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'vendor_guidelines' %}">Vendor Guidelines</a></div>
                            </div><br>

                            <h5>Vendors</h5>
                               <div>
                                {% for vendor in vendors %} 
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'vendor' vendor.slug %}">{{ vendor.company_name }}</a></div> 
                            {% endfor %}   
                               </div> 
                                <br>

                            <h5>Product Categories</h5>
                            <div>
                                    {% for category in category %} 
                                <div class="address-card__row-content"> <a class="address-card__row-content" href="{{category.get_absolute_url}}">{{category.title}}</a></div>
                                    {% endfor %} 
                            </div><br>
                          

                            <h5>Products</h5>
                            <div>
                                {% for product in product %} 
                                        {% if product.vendor.enabled %} 
                                            <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'product' product.id product.slugV product.category.sub_category.category.slug product.category.sub_category.slug product.category.slug product.slug %}">{{product.title}}</a></div>
                                        {% endif %} 
                                    {% endfor %}    
                            </div><br>  
                                
                            <h5>Blog Posts</h5>
                            <div>
                                {% for post in posts %} 
                                        <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'detail' post.slug  %}">{{post.title}}</a></div>
                                    {% endfor %}    
                            </div><br>

                            <h5>Rental Items</h5>
                            <div>
                                {% for item in items %} 
                                        <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'item-detail' item.id item.category.slug item.slug  %}">{{item.title}}</a></div>
                                    {% endfor %}    
                            </div><br>

                            <h5>Services</h5>
                            <div>
                            {% for service in services %} 
                                <div class="address-card__row-content"><a class="address-card__row-content" href="{% url 'service_provider' service.id service.service.slug service.slug  %}">{{service.name}}</a></div>
                            {% endfor %}    
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
    
{% endblock  %}