{% extends 'core/base.html' %}
{% block title %}My account | {{ request.session.username }} - {% endblock %}
{% block content %}
{% include 'messages.html' %}
<script>
    $('body').on('click','.deleteBtn',function(){
        var product_id=$(this).closest('.delete').find('.prod_id').val();
        var my_token='{{ csrf_token }}'
        $.ajax({
            method:'POST',
            urls:"/deletecompare/",
            context:this,
            data:{
                "csrfmiddlewaretoken": my_token,
                'id':product_id
            }
        })
    })

    function addToCart(pr_id) {
        event.preventDefault(); //so that we stop normal form submit.
        $.ajax({
            type: "GET",
            url: "/order/addtoshopcart/" + pr_id,
            success: function (data) {
                console.log(data);
                $("#my_cart").load(location.href + " #my_cart");
                $("#msg").append(
                    '<div class="alert alert-success hideit alertSuc">added in cart successfully.</div >')
                setTimeout(function () {
                    $("#msg").load(location.href + " #msg");
                }, 1000);

            }
        });
    }

        function addToVariantCart(pr_id) {
        event.preventDefault(); //so that we stop normal form submit.
        var_id = $("#variant_id").val();
        pq = $("#quantity").val();
        console.log(var_id,pq)
        $.ajax({
            type: "POST",
            url: "/order/addtoshopcart/" + pr_id,
            data:{
                'variantid':var_id,
                'quantity':pq
            },
            success: function (data) {
                console.log(data);
                $("#my_cart").load(location.href + " #my_cart");
                $("#msg").append(
                    '<div class="alert alert-success hideit alertSuc">added in cart successfully.</div >')
                setTimeout(function () {
                    $("#msg").load(location.href + " #msg");
                }, 1000);

            }
        });
    }

</script>    
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Comparing</li>
        </ul>
    </div>
</div>
<table class="table is-fullwidth">
    <tbody>
        <tr>
            <th>Product</th>
            <th>Title</th>
            <th>Color</th>
            <th>Rating</th>
            <th>Availability</th>
            <th>Price</th>
            <th>Add to Cart</th>
            <th>Weight</th>
            <th>Length</th>
            <th>Width</th>
            <th>Size</th>
            <th>Height</th>
            <th>Brand</th>
            <th>Remove</th>

        </tr>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    <img style="width: 70px;height: 70px;" src="{{product.image.url}}" alt="">  
                </td>
                <td>
                    {{product.title}}
                </td>
                <td>
                    {{product.color}}
                </td>
                <td>
                {% if product.countreview %}
                {{product.countreview}}
                {% else %} 
                  -
                {% endif %}
            </td>
            <td>
                {% if product.quantity > 0 %} 
                  In Stock
                {% else %} 
                Out of Stock
                {% endif %}  
            </td>
            <td>
                {% if product.discount %} 
                  {{product.get_discounted_price}}
                {% else %} 
                 {{product.price}}
                {% endif %}   
            </td>
            <div id="msg" class="mt-3"></div>
            <td>
                <a onclick="addToCart('{{ product.id }}')" class="primary-btn add-to-cart">
                    <button  class="primary-btn add-to-cart" {% if product.quantity < 1  %} disabled {% endif %}>
                        <i class="fa fa-shopping-cart"></i> Add to Cart
                    </button>
                </a>
            </td>
            <td>
                {% if product.weight %} 
                {{product.weight}}
                {% else %} 
                -
                {% endif %}
            </td>
            <td>
                {% if product.length %} 
                {{product.length}}
                {% else %}
                  -
                {% endif %}
            </td>
            <td>
                {% if product.width %} 
                  {{product.width}}
                {% else %} 
                   -
                {% endif %}
            </td>
            <td>
                {% if product.size %} 
                {{product.size}}
                {% else %} 
                  -
                {% endif %}
            </td>
             <td>
                {% if product.height %} 
                {{product.height}}
                {% else %} 
                  -
                {% endif %}
            </td>
            <td>
                {% if product.brand %} 
                {{product.brand}}
                {% else %} 
                  -
                {% endif %}
            </td>
            <td>
                <a href="/compare/delete/{{ product.id }}" onclick="return confirm('Delete ! Are you sure?')"><i class="fa fa-close"></i></a>
            </td>
            </tr>
            {% endfor %}
            {% for variant in variants %}
            <tr>
                <td>
                    <img style="width: 70px;height: 70px;" src="{{variant.image_variant.url}}" alt="">  
                </td>
                <td>
                    {{variant.title}}
                </td>
                <td>
                    {{variant.color}}
                </td>
                <td>
                {% if variant.product.countreview %}
                {{variant.product.countreview}}
                {% else %} 
                  -
                {% endif %}
            </td>
            <td>
                {% if variant.quantity > 0 %} 
                  In Stock
                {% else %} 
                Out of Stock
                {% endif %}  
            </td>
            <td>
                {% if product.discount %} 
                  {{variant.get_discounted_price}}
                {% else %} 
                 {{variant.price}}
                {% endif %}   
            </td>
            <div id="msg" class="mt-3"></div>
            <td>
                <a onclick="addToVariantCart('{{ variant.product.id }}')" class="primary-btn add-to-cart">
                    <input class="input" id="quantity" name="quantity" type="hidden" value="1">
                    <input type="hidden" name="variantid" id="variant_id" value="{{ variant.id }}">
                    <button  class="primary-btn add-to-cart" {% if variant.quantity < 1  %} disabled {% endif %}>
                        <i class="fa fa-shopping-cart"></i> Add to Cart
                    </button>
                </a>
            </td>
            <td>
                {% if variant.weight %} 
                {{variant.weight}}
                {% else %} 
                -
                {% endif %}
            </td>
            <td>
                {% if variant.length %} 
                {{variant.length}}
                {% else %}
                  -
                {% endif %}
            </td>
            <td>
                {% if variant.width %} 
                  {{variant.width}}
                {% else %} 
                   -
                {% endif %}
            </td>
            <td>
                {% if variant.size %} 
                {{variant.size}}
                {% else %} 
                  -
                {% endif %}
            </td>
            <td>
                {% if variant.height %} 
                {{variant.height}}
                {% else %} 
                  -
                {% endif %}
            </td>
            <td>
                {% if variant.product.brand %} 
                {{variant.product.brand}}
                {% else %} 
                  -
                {% endif %}
            </td>
            <td>
                <a href="/compare/deletevariant/{{ variant.id }}" onclick="return confirm('Delete ! Are you sure?')"><i class="fa fa-close"></i></a>
            </td>
            </tr>
            {% endfor %}
        </tbody>

</table>     
{% endblock %}
