{% extends 'core/base.html' %}

{% load product_extras %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}

    <div class="columns">
        <!-- Thumbnails -->
        <div class="column is-1">
            <!--  carousel-indicators -->
            <!-- <button
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
            style="width: 100px;"
            >
            <img
                class="d-block w-100"
                src="{{ product.image.url }}"
                class="img-fluid"
            />
            </button> -->
            {% for img in imgs %}
                <button
                type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="{{ forloop.counter0 }}"
                aria-label="Slide 2"
                style="width: 100px;"
                >
                <img
                    class="d-block w-100"
                    src="{{ img.thumbnail.url }}"
                    class="img-fluid"
                />
                </button>
            {% endfor %}
        </div>
        <div class="column is-6">
                <!-- <figure class="image is-4by3 mb-6">
                    <img src="{{ product.image.url }}">
                </figure> -->

                <div
                    id="carouselExampleIndicators"
                    class="carousel slide carousel-fade"
                    data-mdb-ride="carousel"
                >
                <!-- Slides -->
                    <div class="carousel-inner mb-5">
                        <!-- <div class="carousel-item active">
                            <figure class="image is-4by3 mb-6">
                                <img src="{{ product.image.url }}">
                            </figure>
                        </div> -->
                        {% for img in imgs %}
                            {% if forloop.counter == 1 %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                                <figure class="image is-4by3 mb-6">
                                    <img src="{{ img.image.url }}">
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Slides -->

                    <!-- Controls -->
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-mdb-target="#carouselExampleIndicators"
                        data-mdb-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-mdb-target="#carouselExampleIndicators"
                        data-mdb-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <!-- Controls -->


                <!-- Thumbnails -->
                </div>

        </div>

        <div class="column is-5">
            <h1 class="title">{{ product.title }}, rating - {{ product.rating }},
                {% if product.discount > 0 %}
                    <span class="text-decoration-line-through">Frw {{ product.price }}</span> <span style="color: #E00D0D">Frw {{ product.get_discounted_price }}</span>
                {% else %}
                    Frw {{ product.price }}
                {% endif %}
            </h1>

            <p class="mb-6"><span class="tag is-dark">{{ product.vendor.company_name }}</span></p>


            <p>{{ product.description|convert_markdown|safe }}</p>

            {% if product.in_cart %}
                <p><strong>Product added to cart</strong></p>
            {% else %}
                {% if product.num_available > 0 %}
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control">
                                <input type="number" name="quantity" value="1" class="input" min="1">
                            </div>

                            <div class="control">
                                <button class="button is-dark">Add to cart</button>
                            </div>
                        </div>
                    </form>

                {% else %}
                    <p><strong>Out of Stock</strong></p>
                {% endif %}
            {% endif %}

            <form method="post" action={% url 'product_review' product.id %}>
                {% csrf_token %}
                {{ form2.as_p }}
                <button type="submit" name="btnform2">Add review</button>
            </form>

            <form method="post" action={% url 'wishlist-add' product.id %}>
                {% csrf_token %}
                <button class="button is-dark">{% if wishlist %} Remove from wishlist {% else %} Add to wishlist {% endif %} </button>
            </form>

            <form method="post" action={% url 'product-compare' product.id %}>
                {% csrf_token %}
                <button class="button is-dark">
                    {% if is_comparing %}
                        Remove compare
                    {% else %}
                        Compare
                    {% endif %}
                </button>
            </form>

            {% for review in reviews %}
                {{ review.user.customer.customername }}
                {{ review.text }}
                Rating: {{ review.rating }}<br>
            {% endfor %}

            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-success is-toast">{{ message }}</div>
                {% endfor %}
            {% endif %}

        </div>
    </div>


    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>

            {% for product in similar_products %}
                {% if product.vendor.enabled and product.visible and not product.is_variant %}
                    {% include 'product/parts/list_item.html' %}
                {% elif product.vendor.enabled and product.visible and product.is_variant %}
                    {% if product.get_variant %}
                        {% include 'product/parts/list_item.html' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}