{% extends 'core/base.html' %}

{% block title %}search products | {% endblock %}

{% block content %}





    <div class="row">
        <div class="col-3 card">
            {% include 'product/product_search.html' %}
        </div>
        <div class="col-9">



                <hr>

                <h2 class="is-size-5">Search results</h2>

                <br>

                <div class="columns is-multiline">
                    {% for product in products %}
                        {% if product.vendor.enabled and product.visible and not product.is_variant %}
                            {% include 'product/parts/list_item.html' %}
                        {% elif product.vendor.enabled and product.visible and product.is_variant %}
                            {% if product.get_variant %}
                                {% include 'product/parts/list_item.html' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>


        </div>
    </div>

{% endblock %}