    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="/" class="simple-text logo-normal">
          Warehouse250
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          <li class="nav-item {% if 'stats' in segment %} active {% endif %}">
            <a class="nav-link" href="/dashboard/stats">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'product_review' in segment %} active {% endif %}">
            <a class="nav-link" href="/dashboard/product_review">
              <i class="material-icons">library_books</i>
              <p>Products Review</p>
            </a>
          </li>
          <li class="nav-item {% if 'products' in segment %} active {% endif %}">
            <a class="nav-link" href="/dashboard/products">
              <i class="material-icons">shopping_cart</i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item {% if 'orders' in segment %} active {% endif %}">
            <a class="nav-link" href="/dashboard/order">
              <i class="material-icons">content_paste</i>
              <p>Orders</p>
            </a>
          </li>
          <li class="nav-item {% if 'vendors' in segment %} active {% endif %}">
            <a class="nav-link" href="/dashboard/vendors">              
              <i class="material-icons">store</i>
              <p>Vendors</p>
            </a>
          </li>
          <li class="nav-item {% if 'customers' in segment %} active {% endif %}">
            <a class="nav-link" href="/dashboard/customers">
              <i class="material-icons">person</i>
              <p>Customers</p>
            </a>
          </li>
          <!-- <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-maps.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="/page-rtl-support.html">
              <i class="material-icons">language</i>
              <p>RTL Support</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>PRO Version</p>
            </a>
          </li> -->
        </ul>
      </div>

    </div>
