{% extends 'core/base.html' %} 
{% load static %} 
{% block title %} Add item {% endblock %} 
{% block content %}
<div class="site__body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-4 col-md-8">
                <div class="card flex-grow-1 mb-0 mt-5">
                    <div class="card-body">
                        <h3 class="card-title">Add Item</h3>
                        <form method="post" action="." enctype="multipart/form-data">
                            {% load widget_tweaks %}
                            {% csrf_token %} 
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="">Title</label>
                                    {{form.title |add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Category</label>
                                    {{form.category | add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Price">Price</label>
                                    {{form.price |add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="">Quantity</label>
                                    {{form.quantity | add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Image</label>
                                    {{form.image | add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Unit Type</label>
                                    {{form.unit | add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Description</label>
                                    {{form.description | add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3 form-check form-check-inline">
                                    {{form.available | add_class:"form-check-input"}}
                                    <label for="" class="form-check-label">Available</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button btn btn-primary mt-4">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}