{% extends 'core/base.html' %} 
{% load static %} 
{% block title %} Add item {% endblock %} 
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $(document).ready(function() {
    $("#category").change(function() {
    equipment_id=$("#id_equipment").val()
    if ($(this).val() == equipment_id | $(this).val() == '' ) {
        document.getElementById('spaces').style.display = "none"
    } else {
        document.getElementById('spaces').style.display = "block"
    }
    });
        $("#category").trigger("change")
    })
  
    $(document).ready(function() {
    $("#category").change(function() {
    vehicles_id=$("#vehicles_id").val()
    if ($(this).val() != vehicles_id | $(this).val() == '' ) {
        document.getElementById('sale').style.display = "none"
        document.getElementById('vehicles_year').style.display = "none"
        document.getElementById('vehicles_model').style.display = "none"
        document.getElementById('vehicles_engine').style.display = "none"

    } else {
        document.getElementById('sale').style.display = "block"
        document.getElementById('vehicles_year').style.display = "block"
        document.getElementById('vehicles_model').style.display = "block"
        document.getElementById('vehicles_engine').style.display = "block"
    }
    });
        $("#category").trigger("change")
    })

    $(document).ready(function() {
    $("#category").change(function() {
    space_id=$("#space_id").val()
    if ($(this).val() != space_id | $(this).val() == '' ) {
        document.getElementById('rooms').style.display = "none"
        document.getElementById('amenity').style.display = "none"
        
    } else {
        document.getElementById('rooms').style.display = "block"
        document.getElementById('amenity').style.display = "block"
    }
    });
        $("#category").trigger("change")
    })

    $(document).ready(function() {
    $("#category").change(function() {
    equipment_id=$("#id_equipment").val()
    if ($(this).val() == equipment_id ) {
        document.getElementById('application').style.display = "block"
        document.getElementById('capacity').style.display = "block"
        document.getElementById('make').style.display = "block"
    } else {
        document.getElementById('application').style.display = "none"
        document.getElementById('capacity').style.display = "none"
        document.getElementById('make').style.display = "none"
    }
    });
        $("#category").trigger("change")
    })

    $(document).ready(function() {
    $("#category").change(function() {
    equipment_id=$("#id_equipment").val()
    vehicles_id=$("#vehicles_id").val()
    if ($(this).val() == equipment_id | $(this).val() == vehicles_id ) {
        document.getElementById('capacity').style.display = "block"
        document.getElementById('make').style.display = "block"
    } else {
        document.getElementById('capacity').style.display = "none"
        document.getElementById('make').style.display = "none"
    }
    });
        $("#category").trigger("change")
    })

</script>   
<div class="site__body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-4 col-md-8">
                <div class="card flex-grow-1 mb-0 mt-5">
                    <div class="card-body">
                        <h3 class="card-title">Add Item</h3>
                        <form method="post" action="." enctype="multipart/form-data">
                            {% load widget_tweaks %}
                            {% csrf_token %}
                            <input type="hidden" id="id_equipment" value="{{equipment_id}}">
                            <input type="hidden" id="space_id" value="{{space_id}}"> 
                            <input type="hidden" id="vehicles_id" value="{{vehicles_id}}">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="">Title</label>
                                    {{form.title |add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Category</label>
                                    {{form.category | add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3" id="spaces" style="display: none;">
                                    <label for="">Type</label>
                                    {{form.item_type | add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Price">Price</label>
                                    {{form.price |add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3" id="vehicles_year" >
                                    <label for="">Year</label>
                                    {{form.year |add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3" id="vehicles_model" >
                                    <label for="">Model</label>
                                    {{form.model |add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3" id="vehicles_engine" >
                                    <label for="">Engine</label>
                                    {{form.engine |add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3" id="rooms" >
                                    <label for="">Room</label>
                                    {{form.rooms |add_class:"form-control"}}
                                </div> 
                                <div class="form-group col-md-3" id="amenity" >
                                    <label for="">Amenity</label>
                                    {{form.amenity |add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3" id="application" >
                                    <label for="">Application</label>
                                    {{form.application |add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3" id="make">
                                    <label for="">Make</label>
                                    {{form.makes |add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3" id="capacity">
                                    <label for="">Capacity</label>
                                    {{form.capacity |add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="">Quantity</label>
                                    {{form.quantity | add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Image</label>
                                    {{form.image | add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="">Unit Type</label>
                                    {{form.unit | add_class:"form-control"}}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Description</label>
                                    {{form.description | add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3 form-check form-check-inline">
                                    {{form.available | add_class:"form-check-input"}}
                                    <label for="" class="form-check-label">Available</label>
                                </div>
                                <div class="form-group col-md-3 form-check form-check-inline" id="sale">
                                    {{form.sale | add_class:"form-check-input"}}
                                    <label for="" class="form-check-label">Available for Sale ?</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button btn btn-primary mt-4">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}