{% extends "layouts/base.html" %}
{% load static %}
{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Orders</h4>
                  <p class="card-category"> </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table table-striped table-bordered table-sm" id="ordersTable">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          No
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Paid amount
                        </th>
                        <th>
                          status
                        </th>
                        <th>
                          Created
                        </th>
                      </thead>
                      <tbody>
                        {% for order in orders %}
                          <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'orderDetails' order.id %}">{{ order.first_name }} {{ order.last_name }}</a></td>
                            <td>{{ order.paid_amount }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.created_at }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Statistics</h4>
                  <p class="card-category"> </p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table table-striped table-bordered table-sm" id="ordersStatisticsTable">
                      <thead class=" text-primary">
                        <th>
                          Name
                        </th>
                        <th>
                          Name / Period
                        </th>
                        <th>
                          Orders
                        </th>
                        <th>
                          Paid amount
                        </th>
                      </thead>
                      <tbody>
                        {% for order in statistics %}
                          <tr>
                            <td>{{ order.username }}</td>
                            <td>{{ order.period }}</td>
                            <td>{{ order.count }}</td>
                            <td>{{ order.amount }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
