{% extends "layouts/base.html" %}
{% load static %}
{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Products</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table table-striped table-bvendored table-sm" id="productsTable">
                  <thead class=" text-primary">
                    <th>ID</th>
                    <th>No</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Vendor</th>
                    <th>Price</th>
                    <th>Available Number</th>
                    <th>Visible</th>
                  </thead>
                  <tbody>
                    {% for product in products %}
                      <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ product.slug }}">{{ product.title }}</a></td>
                        <td>{{ product.main_category }} / {{ product.sub_category }} / {{ product.sub_sub_category }}</td>
                        <td>{{ product.vendor }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.num_available }}</td>
                        <td>{{ product.visible }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
